# Byte-compiled / optimized files
src/__pycache__
src/visualization/__pycache__
src/gui/__pycache__
src/database/__pycache__
*.pyc

# Credentials
src/Credentials.py

# Testing Files (Current WIP)
tests/
test_savings.py

# Original Files
(1)_Original_Process/

# Virtual environment
venv/

# Other
test.py